body{
    font-family: 'Lato';
}

.footer{
    padding-top:120px;
    display: flex;
    background-color:#143642;
    height:340px;
    border-radius: 30px;
    justify-content: center;
}

.footer p{
    font-size: 24px;
}

.footer a{
    text-decoration: none;
    color:white;
}

.sub-logo-footer{
    margin-left:40px;
    margin-top:20px;
    display:flex;
    flex-direction: row;
}

.sub-logo-footer img{

    fill: white;
    width: 50px;
    height: 50px;
}

.logo-footer{
    margin-right:75px;
    display: flex;
    flex-direction: column;
}

.logoo{
    margin-top:20px;
    margin-left:40px;
    width: 335px;
    height: 67px;
}

.products-footer{
    margin:20px 75px;
}

.products-footer a{
    display:block;
    margin-bottom:10px;
}


span{
    font-size: 24px;
    color: #EC9A29;
}



.header{
    background: #0F8B8D;
    height:145px;
    border-radius: 30px 30px 0px 0px;

}

.header-wrapper{
    display:flex;
    justify-content: space-between;
}

.header-wrapper img{
    margin-top: 40px;
    margin-left:120px;
    width: 335px;
    height: 67px;
}

.header-menu{
    margin-right:100px;
    margin-top:50px;
}
.header-menu a{
    font-size: 30px;
    font-weight:400;
    padding-bottom:10px;
    margin-right:30px;
    color:white;
    text-decoration:none;
}

.active{
    border-bottom: 4px #EC9A29 solid;
}


.btn{
    text-decoration: none;
    display:block;
    align-items: center;
    width: 265px;
    height: 50px;
    background-color: #A8201A;
    border-radius: 55px;
    color:white;
    font-weight: 400;
    font-size: 24px;
    border:none;
}

.detail{
    margin-top:120px;
    margin-bottom:120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail-wrapper{
    display:flex;
    margin-bottom:40px;

}

.desc-detail{
    margin-top:80px;
}


.desc-detail h2{
    color: #0F8B8D;
    font-weight: 800;
    font-size: 48px;
}

.desc-detail p{
    font-weight: 500;
    font-size: 24px;
}

.desc-detail h1{
    color: #0F8B8D;
    font-weight: 800;
    font-size: 60px;
}

.desc-wrapper{
    flex-direction: column;
    display: flex;
}


.desc-wrapper h2{
    margin-left:0px;
    margin-bottom:20px;
    padding-bottom:20px;
    width:400px;
    color: #0F8B8D;
    font-weight: 500;
    font-size: 48px;
    border-bottom: 3px solid #EC9A29;
}

.desc-wrapper p{
    margin-top:0px;
    width: 920px;
    height: 87px;
    font-weight: 400;
    font-size: 24px;
}


.product {
    padding-left:70px;
    padding-top:20px;
    position:relative;
}

.product img{
    top:25px;
    left:25px;
    position:absolute;
}

